.feed-page {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .feed {
                max-width :500px;
                
                .post{
                        width:100%;
                }
        
        }
}